.site-title { font-size: 1.6rem; }
.header-inner { padding: 8px 0; }

.hero { padding: 36px; border-radius:10px; }

.feature { width: calc(25% - 28px); display:inline-block; } /* 25%-28px to adjust for padding and margins when there are 4 pannels*/

.portrait { width:30%; }
.bio { width:66%; }

.projects-list { max-width:1100px; }
